<?xml version='1.0' encoding='utf-8'?>
<widget id="hackfast.healtie.amoeba" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HEALTIE</name>
    <description>=THIS APLICATION IS FOR HACKFAST AMOEBA</description>
    <author email="lagustinus211@gmail.com" href="https://lgarin211.github.io">
        lagustinus211@gmail.com
    </author>
    <content src="index.html" />
    <allow-navigation href="https://healtie211.firebaseapp.com/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="res/icon.png" />

    <preference name="FadeSplashScreenDuration" value="300" />
    <preference name="SplashShowOnlyFirstTime" value="true" />
    <preference name="SplashScreen" value="none" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="AndroidWindowSplashScreenBackground" value="#2DBFF0" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/if.png" />

</widget>